# created by virtualenv automatically
bicchiere_sessions/
bicchiere_sessions.sqlite
__pycache__/
old*
.gitattributes

*.pyc
*.pyo
*.db
*.log
*.mo
._*
*.*~

bin/
lib/
include/
pyvenv.cfg
dist/
build/
MANIFEST
bicchiere.egg-info/
.vscode/


